.Parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 32px;
  margin-top: 32px;
}

.ProductParent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: black solid 1px;
  padding: 4px;
  margin: 8px;
}

.ProductTextContent {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
}

.Pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PaginationBox {
  padding: 10px;
  border: solid black 1px;
  margin: 5px;
}

.btnParent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.active {
  background-color: black;
  color: white;
}

.btns {
  cursor: pointer;
}
